<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人信息修改</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
  <!--验证码样式设置-->
  <style type="text/css">
    .ehong-idcode-val {
      position: relative;
      padding: 0 auto;
      top: 70%;
      letter-spacing: 10%;
      display: inline;
      cursor: pointer;
      font-size: 28px;
      font-family: "Courier New", Courier, monospace;
      text-decoration: none;
      font-weight: bold;
    }

    .ehong-idcode-val0 {
      border: solid 1px #A4CDED;
      background-color: #ECFAFB;
    }

    .ehong-idcode-val1 {
      border: solid 1px #A4CDED;
      background-color: #FCEFCF;
    }

    .ehong-idcode-val2 {
      border: solid 1px #6C9;
      background-color: #D0F0DF;
    }

    .ehong-idcode-val3 {
      border: solid 1px #6C9;
      background-color: #DCDDD8;
    }

    .ehong-idcode-val4 {
      border: solid 1px #6C9;
      background-color: #F1DEFF;
    }

    .ehong-idcode-val5 {
      border: solid 1px #6C9;
      background-color: #ACE1F1;
    }

    .ehong-code-val-tip {
      font-size: 12px;
      color: #1098EC;
      top: 0px;
      *top: -3px;
      position: relative;
      margin: 0px 0px 0px 4px;
      cursor: pointer;
    }
  </style>
    <link rel="stylesheet" href="../static/css/palette.css" th:href="@{/css/palette.css}">
  <link rel="stylesheet" href="../scss/theme.css">
</head>

<body>
  <div class="py-5">
    <div class="ur container">
      <div class="ui middle aligned center aligned grid">
        <div class="column">
			<h2 class="ui image header" style="color: #00A8C6;">
			  <div class="content">
			    用户信息修改
			  </div>
			</h2>
          <div class="card">
            <div class="card-body p-4">
                <div class="row">
                  <div class="col-3">
                    <ul class="nav nav-pills flex-column bg-light">
                      <li class="nav-item" style="text-shadow: 0px 0px 4px black;">
					    <a href="" class="nav-link active" data-toggle="pill" data-target="#tabone"><br>
                          <h5 style="text-shadow: 0px 0px 0px;">用户信息维护</h5><br>
                        </a>
					  </li>
                      <li class="nav-item"> 
					    <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo"><br>
                          <h5>邮箱信息维护</h5><br>
                        </a>
					  </li>
                      <li class="nav-item"> 
					    <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree"><br>
                          <h5>修改密码</h5><br>
                        </a> 
					  </li>
					  <li class="nav-item"> 
					    <a href="" class="nav-link" data-toggle="pill" data-target="#tabfour"><br>
						  <h5>修改头像</h5><br>
						</a> 
					  </li>
                    </ul>
                  </div>
                  <div class="col-9">
                    <div class="tab-content" id="reg-form">
                      <!--====================Tab One======================-->
                      <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                        <form method="post" action="#" th:action="@{/edit/username/{id}(id=${user.id})}">
                          <div class="form-group row">
                            <label for="oldphone" class="col-2 col-form-label text-center">
                              <i class="user icon"></i>
                            </label>
                            <div class="col-8">
                              <input type="text" class="form-control" id="oldphone" th:value="${user.username}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="newphone" class="col-2 col-form-label text-center">
                              <i class="user icon"></i>
                            </label>
                            <div class="col-8">
                              <!--用户名-->
                              <input type="text" class="form-control" id="newphone" name="username" placeholder="请输入新的用户名">
                            </div>
                          </div>
                          <div class="row" style=" float:right;padding-right: 17%">
                            <div class="col-6">
                              <input value="保 存" class="form-control btn btn-outline-dark pl-4 pr-4 submit" id="submit1" type="submit">
                            </div>
                            <div class="col-6">
                              <input value="取 消" id="reset1" class="form-control btn btn-outline-dark pl-4 pr-4" type="reset">
                            </div>
                          </div>
                        </form>
                      </div>
					  <!--====================Tab Two======================-->
                      <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                        <form method="post" action="#" th:action="@{/edit/email/{id}(id=${user.id})}">
                          <div class="form-group row">
                            <label for="oldmail" class="col-2 col-form-label text-center">
                              <i class="mail icon"></i>
                            </label>
                            <div class="col-8">
                              <input type="text" class="form-control" id="oldmail" th:value="${user.email}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="newmail" class="col-2 col-form-label text-center">
                              <i class="mail icon"></i>
                            </label>
                            <div class="col-8">
                              <!--邮箱-->
                              <input type="text" class="form-control" id="newmail" name="email" placeholder="请输入新邮箱地址" easyform="email;real-time;" message="Email格式要正确哦" easytip="disappear:lost-focus;theme:blue;" ajax-message="这个Email地址已经被注册过啦，换一个试试哦">
                            </div>
                          </div>
                          <!--邮箱验证，待定
                          <div class="form-group row">
                          <label for="validate_email" class="col-2 col-form-label text-center">
                          <i class="fas fa-envelope fa-1x"></i></label>
                          <div class="col-10">
                              <input type="email" class="form-control" id="validate_email" placeholder="mail@example.com"> </div>
                          </div>-->
                          <div class="row" style=" float:right;padding-right: 17%">
                            <div class="col-6">
                              <input value="保 存" class="form-control btn btn-outline-dark pl-4 pr-4" id="submit2" type="submit">
                            </div>
                            <div class="col-6">
                              <input value="取 消" id="reset2" class="form-control btn btn-outline-dark pl-4 pr-4" type="reset">
                            </div>
                          </div>
                        </form>
                      </div>
					  <!--====================Tab Three======================-->
                      <div class="tab-pane fade" id="tabthree" role="tabpanel">
                        <form method="post" action="#" th:action="@{/edit/password/{id}(id=${user.id})}">
                          <div class="col-md-12 row ml-3">
                            <div class="col-md-5 form-group has-feedback">
                              <label for="password">新密码</label>
                              <input type="password" class="form-control" placeholder="newPassword" id="password" easyform="length:6-16;" message="密码必须为6—16位" easytip="disappear:lost-focus;theme:blue;" required="">
                            </div>
                            <div class="col-md-5 form-group has-feedback">
                              <div class="form-group"> <label for="ConfirmPassword">确认新密码</label>
                                <!--密码-->
                                <input type="password" class="form-control" id="ConfirmPassword" name="password" placeholder="ConfirmPassword" required="" easyform="length:6-16;equal:#password;" message="两次密码输入要一致" easytip="disappear:lost-focus;theme:blue;">
                              </div>
                            </div>
                          </div>
                          <div class="row col-md-12 ml-3">
                            <div class="col-md-5 ">
                              <label for="idcode-btn">验证码</label>
                              <input type="text" class="form-control" placeholder="请输入4位验证码" id="idcode-btn" easyform="length:4;" message="验证码输入错误" easytip="disappear:lost-focus;theme:blue;" required="">
                            </div>
                            <div class="col-md-6" style="padding-top: 3.5%">
                              <div id="idcode" style="background: transparent;"></div>
                            </div>
                          </div>
                          <div class="row py-3 ml-4 text-center">
                            <div class="col-md-5">
                              <input class="form-control btn navbar-btn btn-outline-dark" id="submit3" value="保&nbsp;存" type="submit">
                            </div>
                            <div class="col-md-5">
                              <input value="取&nbsp;消" id="reset3" class="form-control btn navbar-btn btn-outline-dark" type="reset">
                            </div>
                          </div>
                        </form>
                      </div>

					  <!--====================Tab Four======================-->

                     </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
    </div>
  </div>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#reg-form').easyform();
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <!--随机验证码生成，验证码不匹配时自动更改-->
  <script type="text/javascript">
    var settings = {
      e: 'idcode',
      codeType: {
        name: 'follow',
        len: 4
      }, //len是修改验证码长度的
      codeTip: '换个验证码?',
      inputID: 'idcode-btn' //验证元素的ID
    };
    var _set = {
      storeLable: 'codeval',
      store: '#ehong-code-input',
      codeval: '#ehong-code'
    }
    $.idcode = {
      getCode: function(option) {
        _commSetting(option);
        return _storeData(_set.storeLable, null);
      },
      setCode: function(option) {
        _commSetting(option);
        _setCodeStyle("#" + settings.e, settings.codeType.name, settings.codeType.len);
      },
      validateCode: function(option) {
        _commSetting(option);
        var inputV;
        if (settings.inputID) {
          inputV = $('#' + settings.inputID).val();
        } else {
          inputV = $(_set.store).val();
        }
        if (inputV.toUpperCase() == _storeData(_set.storeLable, null).toUpperCase()) { //修改的不区分大小写
          return true;
        } else {
          _setCodeStyle("#" + settings.e, settings.codeType.name, settings.codeType.len);
          return false;
        }
      }
    };

    function _commSetting(option) {
      $.extend(settings, option);
    }

    function _storeData(dataLabel, data) {
      var store = $(_set.codeval).get(0);
      if (data) {
        $.data(store, dataLabel, data);
      } else {
        return $.data(store, dataLabel);
      }
    }

    function _setCodeStyle(eid, codeType, codeLength) {
      var codeObj = _createCode(settings.codeType.name, settings.codeType.len);
      var randNum = Math.floor(Math.random() * 6);
      var htmlCode = ''
      if (!settings.inputID) {
        htmlCode = '<span><input id="ehong-code-input" type="text" maxlength="4" /></span>';
      }
      htmlCode += '<div id="ehong-code" class="ehong-idcode-val ehong-idcode-val';
      htmlCode += String(randNum);
      htmlCode += '" href="#" onblur="return false" onfocus="return false" oncontextmenu="return false" onclick="$.idcode.setCode()">' + _setStyle(codeObj) + '</div>' + '<span id="ehong-code-tip-ck" class="ehong-code-val-tip" onclick="$.idcode.setCode()">' + settings.codeTip + '</span>';
      $(eid).html(htmlCode);
      _storeData(_set.storeLable, codeObj);
    }

    function _setStyle(codeObj) {
      var fnCodeObj = new Array();
      var col = new Array('#BF0C43', '#E69A2A', '#707F02', '#18975F', '#BC3087', '#73C841', '#780320', '#90719B', '#1F72D8', '#D6A03C', '#6B486E', '#243F5F', '#16BDB5');
      var charIndex;
      for (var i = 0; i < codeObj.length; i++) {
        charIndex = Math.floor(Math.random() * col.length);
        fnCodeObj.push('<font color="' + col[charIndex] + '">' + codeObj.charAt(i) + '</font>');
      }
      return fnCodeObj.join('');
    }

    function _createCode(codeType, codeLength) {
      var codeObj;
      if (codeType == 'follow') {
        codeObj = _createCodeFollow(codeLength);
      } else if (codeType == 'calc') {
        codeObj = _createCodeCalc(codeLength);
      } else {
        codeObj = "";
      }
      return codeObj;
    }

    function _createCodeCalc(codeLength) {
      var code1, code2, codeResult;
      var selectChar = new Array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
      var charIndex;
      for (var i = 0; i < codeLength; i++) {
        charIndex = Math.floor(Math.random() * selectChar.length);
        code1 += selectChar[charIndex];
        charIndex = Math.floor(Math.random() * selectChar.length);
        code2 += selectChar[charIndex];
      }
      return [parseInt(code1), parseInt(code2), parseInt(code1) + parseInt(code2)];
    }

    function _createCodeFollow(codeLength) {
      var code = "";
      var selectChar = new Array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
      for (var i = 0; i < codeLength; i++) {
        var charIndex = Math.floor(Math.random() * selectChar.length);
        if (charIndex % 2 == 0) {
          code += selectChar[charIndex].toLowerCase();
        } else {
          code += selectChar[charIndex];
        }
      }
      return code;
    }
    //前端数据校验，通过span显示，和easyform.js机制不同-
    var check = [false, false, false, false, false, false];
    //校验成功函数
    function success(Obj, counter) {
      Obj.parent().parent().removeClass('has-error').addClass('has-success');
      $('.tips').eq(counter).hide();
      $('.glyphicon-ok').eq(counter).show();
      $('.glyphicon-remove').eq(counter).hide();
      check[counter] = true;
    }
    // 校验失败函数
    function fail(Obj, counter, msg) {
      Obj.parent().parent().removeClass('has-success').addClass('has-error');
      $('.glyphicon-remove').eq(counter).show();
      $('.glyphicon-ok').eq(counter).hide();
      $('.tips').eq(counter).text(msg).show();
      check[counter] = false;
    }
    // 验证码
    $.idcode.setCode();
    $('.container').find('input').eq(12).change(function() {
      var IsBy = $.idcode.validateCode();
      if (IsBy) {
        success($(this), 12);
      } else {
        fail($(this), 12, '验证码输入错误');
      }
    });
    //短信验证码
    var regMsg = /111111/;
    $('.container').find('input').eq(9).change(function() {
      if (check[4]) {
        if (regMsg.test($(this).val())) {
          success($(this), 9);
        } else {
          fail($(this), 9, '短信验证码错误');
        }
      } else {
        $('.container').find('input').eq(9).parent().parent().removeClass('has-success').addClass('has-error');
      }
    });
    //超时，重新获取手机短信码
    $('#loadingButton').click(function() {
      if (check[4]) {
        $(this).removeClass('btn-primary').addClass('disabled');
        $(this).html('<span class="red">59</span> 秒后重新获取');
        var secondObj = $('#loadingButton').find('span');
        var secondObjVal = secondObj.text();

        function secondCounter() {
          var secondTimer = setTimeout(function() {
            secondObjVal--;
            secondObj.text(secondObjVal);
            secondCounter();
          }, 1000);
          if (secondObjVal == 0) {
            clearTimeout(secondTimer);
            $('#loadingButton').text('重新获取校验码');
            $('#loadingButton').removeClass('disabled').addClass('btn-primary');
          }
        }
        secondCounter();
      } else {
        $('.container').find('input').eq(4).parent().parent().removeClass('has-success').addClass('has-error');
      }
    });
  </script>
  <script>
    axios.post('/qiju/user/safeinfo_edit', {
      //安全信息更改接口
      oldphone: $("#oldphone").val(),
      newphone: $("#newphone").val(),
      oldmail: $("#oldmail").val(),
      newmail: $("#newmail").val(),
      phone: $("#phone").val(), //获取当前的手机号，发送手机验证码
      password: $("#password").val() //获取新密码
    }).then(function(response) {
      console.log(response);
      if (response.data.code === 1) alert("修改成功"); //location.href="/login.html";
      else alert("Ooh，修改失败了，请稍后再试");
    }).catch(function(error) {
      console.log(error);
    });
  </script>

</body>

</html>